<header>
    <nav>
        <a href="/">MyLib</a>
        <ul>
            <li><a href="/authors">All authors</a></li>
            <li><a href="/authors/new">Add new author</a></li>
            <li><a href="/books">All books</a></li>
            <li><a href="/books/new">Add new book</a></li>
        </ul>
    </nav>
</header>