All Authors
<h1>Search Authors</h1>

<form action="/authors" method="GET">

    <label for="name">name</label>
    <input type="text" name="name" value="<%= searchOption.name %>">
    <button type="submit">Search</button> 

</form>
<br>
<% authors.forEach(author => {%>
    <div><%= author.name %></div>
<%}); %>